@import "./var-color.scss";

.cursor-pointer {
    cursor: pointer;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-32 {
    font-size: 32px !important;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 500;
}

.z-index-2 {
    z-index: 2;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    opacity: 0.3;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #5555;
    border-radius: 15px;
    cursor: pointer;
    opacity: 0.3;
}

::-webkit-scrollbar-thumb:hover {
    background: $border;
}

@mixin padding-element($side) {
    @if $side == all {
        @for $i from 1 through 300 {
            .padding-#{$i} {
                padding: #{$i}px;
            }
        }
    } @else {
        // nếu là một phía cụ thể
        @for $i from 1 through 300 {
            .padding-#{$side}-#{$i} {
                padding-#{$side}: #{$i}px;
            }
        }
    }
}

// build ra hàng loạt class
@include padding-element(top);
@include padding-element(right);
@include padding-element(bottom);
@include padding-element(left);
@include padding-element(all);

@mixin margin-element($side) {
    @if $side == all {
        @for $i from 1 through 300 {
            .margin-#{$i} {
                margin: #{$i}px;
            }
        }
    } @else {
        // nếu là một phía cụ thể
        @for $i from 1 through 300 {
            .margin-#{$side}-#{$i} {
                margin-#{$side}: #{$i}px;
            }
        }
    }
}

// build ra hàng loạt class
@include margin-element(top);
@include margin-element(right);
@include margin-element(bottom);
@include margin-element(left);
@include margin-element(all);

@mixin m-element($side) {
    // nếu là một phía cụ thể
    @for $i from 1 through 300 {
        @if $side == t {
            .m-#{$side}-#{$i} {
                margin-top: #{$i}px;
            }
        }

        @if $side == b {
            .m-#{$side}-#{$i} {
                margin-bottom: #{$i}px;
            }
        }

        @if $side == l {
            .m-#{$side}-#{$i} {
                margin-left: #{$i}px;
            }
        }

        @if $side == r {
            .m-#{$side}-#{$i} {
                margin-right: #{$i}px;
            }
        }
    }
}

// build ra hàng loạt class
@include m-element(t);
@include m-element(r);
@include m-element(b);
@include m-element(l);

@mixin p-element($side) {
    // nếu là một phía cụ thể
    @for $i from 1 through 300 {
        @if $side == t {
            .p-#{$side}-#{$i} {
                padding-top: #{$i}px;
            }
        }

        @if $side == b {
            .p-#{$side}-#{$i} {
                padding-bottom: #{$i}px;
            }
        }

        @if $side == l {
            .p-#{$side}-#{$i} {
                padding-left: #{$i}px;
            }
        }

        @if $side == r {
            .p-#{$side}-#{$i} {
                padding-right: #{$i}px;
            }
        }
    }
}

// build ra hàng loạt class
@include p-element(t);
@include p-element(r);
@include p-element(b);
@include p-element(l);

@mixin border-radius {
    @for $i from 1 through 300 {
        .border-radius-#{$i} {
            border-radius: #{$i}px;
        }
    }
}

@include border-radius();

@mixin line-clamp {
    // nếu là một phía cụ thể
    @for $i from 1 through 50 {
        .line-clamp-#{$i} {
            display: -webkit-box;
            -webkit-line-clamp: $i;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }
}

@include line-clamp();
