:host {
    .container-management {
        width: 100vw;
        .content-management {
            height: calc(100vh - 60px);
            width: 100%;
            background-color: #ffffff;
            overflow-y: auto;
        }
    }
}
