<div class="w-100">
    <div class="document flex-c-m padding-16" (click)="showDetail()">
        <div class="icon-container">
            <img *ngIf="document.documentType === 'docx'" src="../../../assets/images/docx.png" class="icon" />
            <img *ngIf="document.documentType === 'xlsx'" src="../../../assets/images/xlsx.png" class="icon" />
            <img *ngIf="document.documentType === 'pptx'" src="../../../assets/images/pptx.png" class="icon" />
            <img *ngIf="document.documentType === 'pdf'" src="../../../assets/images/pdf.svg" class="icon" />
        </div>
        <div class="content w-100">
            <div class="filename">{{ document?.documentName }}</div>
            <div class="author">{{ document?.posterName }}</div>
            <div class="number">
                <div class="flex-c-m m-r-16">
                    <img src="../../../assets/images/price.svg" class="sub-icon" />
                    <div class="m-t-4">{{ document?.point }}</div>
                </div>
                <div class="flex-c-m m-r-16">
                    <img src="../../../assets/images/eyes.svg" class="sub-icon" />
                    <div class="m-t-4">{{ document?.viewCount }}</div>
                </div>
                <div class="flex-c-m m-r-16">
                    <img src="../../../assets/images/download.svg" class="sub-icon" />
                    <div class="m-t-4">{{ document?.downloadCount }}</div>
                </div>
            </div>
        </div>
    </div>
</div>