<div class="header-container flex-c-m">
    <div class="avatar"></div>
    <div class="name">Trần Hải Dương</div>
    <div class="user-info flex-c-m">
        <div class="item flex-c-m">
            <div>LƯỢT XEM</div>
            <div>1</div>
        </div>
        <div class="column"></div>
        <div class="item flex-c-m">
            <div>TÀI LIỆU</div>
            <div>1</div>
        </div>
        <div class="column"></div>
        <div class="item flex-c-m">
            <div>LƯỢT TẢI</div>
            <div>1</div>
        </div>
    </div>
</div>
<div class="sidebar-container">
    <div class="tab" (click)="switchTab(1)">
        <i class="fa fa-info-circle mr-2"></i>
        <div>Thông tin chung</div>
    </div>
    <div class="tab" (click)="switchTab(2)">
        <i class="fa fa-file mr-2"></i>
        <div>Quản lý tài liệu</div>
    </div>
    <div class="tab" (click)="switchTab(3)">
        <i class="fa fa-history mr-2"></i>
        <div>Lịch sử hoạt động</div>
    </div>
</div>