@import "../../../../assets/scss/var-cls.scss";

:host {
    .search-global {
        width: 900px;
        height: 100vh;
        background-color: #ffffff;
        top: 53px;
        margin-left: -600px;
        z-index: 2;

        .search-image {
            width: 570px;
            height: 400px;
        }

        .doccument {
            width: 100%;
            border-radius: 8px;
            background-color: #f3f4f7;
            box-shadow: 2px 2px 3px rgba(107, 107, 107, 0.48);
            padding: 16px;
            display: flex;
            .icon-container {
                width: 200px;
                height: 200px;
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
