<dx-popover target="#link1" position="top" [width]="300" [(visible)]="defaultVisible">
  <div *dxTemplate="let data = model of 'content'">
    <div class="popover-user">
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer">
        <i class="fa fa-user mr-2"></i>
        <div (click)="showUserManegement()">Thông tin cá nhân</div>
      </div>
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer">
        <i class="fa fa-info-circle mr-2"></i>
        <div (click)="showHelpManegement()">Trợ giúp</div>
      </div>
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer">
        <i class="fa fa-sign-out mr-2"></i>
        <div>Đăng xuất</div>
      </div>
    </div>
  </div>
</dx-popover>

<div class="forum-container">
  <div class="forum-name cursor-pointer" (click)="backToHome()">DShared</div>
  <div class="d-flex align-items-center justify-content-center">
    <input class="search-input small-input" type="text" placeholder="Tìm kiếm" aria-label="Search">
    <button type="button" class="search-button"></button>
  </div>
  <div class="d-flex align-items-center justify-content-center">
    <div class="button-forum m-r-24" (click)="showLogin()">
      Đăng nhập
    </div>
    <div class="button-forum m-r-32" (click)="showRegister()">
      Đăng ký
    </div>
    <img src="../../../../assets/images/Ditto.png" class="avatar" id="link1" (click)="togglePopover($event)">
  </div>
</div>