@import '../../../../assets/scss/var-color.scss';
::ng-deep{
    .popover-user{
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        .tab-user{
            width: 100%;
            &:hover{
                background-color: #f5f5f5 !important;
                border-radius: 8px;
            }
        }
    }
}
html {
  scroll-behavior: smooth;
}

:host{
    .forum-container{
        height: 60px;
        border-bottom: 1px solid #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
    }
    .forum-name{
        font-size: 24px;
        font-weight: 900;
        font-style: italic;
        color: #008cf6;
        width: 30%;
    }
    .justify-content-center{
        justify-content: center;
    }
    .button-forum{
        border-radius: 25px;
        border: 3px solid #B2DCFC;
        padding: 4px;
        text-align: center;
        height: 36px;
        width: 150px;
        color: #008cf6;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background-color: #B2DCFC;
        }
    }
    .avatar{
        border-radius: 25px;
        border: 3px solid #B2DCFC;
        text-align: center;
        height: 36px;
        width: 36px;
        &:hover{
            cursor: pointer;
            background-color: #B2DCFC;
        }
    }
    .search-input {
        padding: 12px 118px 14px 26px;
        color: #414851;
        background-color: #e8e8e8;
        margin: 0;
        position: relative;
        z-index: 102;
    }
    .small-input {
        height: 40px;
        width: 300px;
        padding: 12px 20px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 23px;
        box-shadow: none !important;
        outline: none !important;
    }
    .search-button {
        position: relative;
        right: 66px;
        top: 0px;
        width: 64px;
        height: 36px;
        border-radius: 18px;
        border: 0;
        background: #008bf6 url(https://icon-library.com/images/white-search-icon-transparent-background/white-search-icon-transparent-background-5.jpg) no-repeat center center; 
        background-size: 49px 35px;
        z-index: 105;
        &:hover{
            background-color: #00afff;
            cursor: pointer;
        }
    }
}