<dx-popover target="#link1" position="top" [width]="300" [(visible)]="defaultVisible">
  <div *dxTemplate="let data = model of 'content'">
    <div class="popover-user">
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer">
        <i class="fa fa-user mr-2"></i>
        <div (click)="showUserManegement()">Thông tin cá nhân</div>
      </div>
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer">
        <i class="fa fa-info-circle mr-2"></i>
        <div (click)="showHelpManegement()">Trợ giúp</div>
      </div>
      <div class="tab-user d-flex align-items-center padding-8 cursor-pointer" (click)="logout()">
        <i class="fa fa-sign-out mr-2"></i>
        <div>Đăng xuất</div>
      </div>
    </div>
  </div>
</dx-popover>

<div class="forum-container">
  <div class="h-100 flex-1 d-flex">
    <div class="h-100 flex-c-m">
      <img style="width: 55px; height: 55px;" class="mr-3 cursor-pointer" src="../../../assets/icon/digital-library.svg"
        alt="" (click)="backToHome()" />
      <div class="forum-name">DShared</div>
    </div>
    <div class="flex-1 d-flex align-items-center m-l-40">
      <div class="category-item" [class.active]="currentCategoryID == category.ID" *ngFor="let category of listCategory"
        (click)="selectCategory(category.ID)">
        <img style="width: 36px; height: 36px;" [src]="category?.Icon" alt="" />
        <div class="ml-2 bold">{{category?.Name}}</div>
      </div>
    </div>
  </div>
  <div class="d-flex nav-right">
    <div class="ml-4 mr-4 position-relative z-index-2">
      <span class="icon position-absolute h-100 flex-c-m ml-4"><i class="fa fa-search"></i></span>
      <input #ValueSearch class="search-input small-input" type="text" [value]="searchKey" placeholder="Tìm kiếm"
        (keyup)="search($event)" (focusin)="openSearchEnable()">
      <app-search-global *ngIf="searchEnable" [searchKey]="searchKey" (hiddenPopup)="hiddenPopupSearch($event)">
      </app-search-global>
    </div>
    <div class="flex-c-m">
      <img class="upload" src="../../../assets/icon/upload-in-cloud.svg" title="tải lên tài liệu" alt=""
        (click)="showUpload()" />
      <ngx-avatar [name]="currentUser?.FullName" id="link1" class="cursor-pointer" size="36"
        (click)="togglePopover($event)">
      </ngx-avatar>
    </div>
  </div>
  <div *ngIf="searchEnable" class="search-enable" (click)="hiddenSearch()"></div>
</div>

<app-popup-upload *ngIf="showPopupUpload" [title]="'Đăng tài liệu'" [popupVisible]="showPopupUpload"
  (hiddenPopup)="closePopup($event)">
</app-popup-upload>