@import "./assets/scss//var-cls.scss";
/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: 'Roboto';
	font-size: 14px;
}
html {
	scroll-behavior: smooth;
  }

div, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto';
	margin: 0;
	display: block;
	position: absolute;
	overflow-y: hidden;
	overflow-x: hidden;
	min-width: 790px;
}

.flex-c-m {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-1 {
	flex: 1 !important;
}
.flex{
	display: flex !important;
}

.border-error {
	border: 1px solid red !important;
}

.text-error {
	color: red !important;
}

.align-items-center{
	display: flex;
	align-items: center;
}
.flex-between{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.back-circle {
	border-radius: 50%;
}