.document-container{
    width: 100%;
    height: calc(100vh - 60px);
    .list-document{
        width: calc(100% - 100px);
        margin: 50px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .document{
            width: 220px;
            height: 300px;
            background-color: #ffffff;
            margin: 20px;
            display: flex;
            flex-direction: column;
            &:hover{
                box-shadow: 3px 2px 3px 2px #888888;
                cursor: pointer;
            }
            .icon-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 70%;
                .icon{
                    width: 150px;
                    height: 150px;
                }
            }
            .content{
                margin: 0 10px;
                .author{
                    color: #333;
                    font-size: 14px;
                }
                .filename{
                    color: #00a888;
                    font-size: 18px;
                    &:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                .number{
                    display: flex;
                    align-items: center;
                    .flex{
                        display: flex;
                        align-items: center;
                        margin-right: 16px;
                        .sub-icon{
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        
    }
}

.m-b-4{
    margin-bottom: 4px !important;
}