.document-container{
    width: 100%;
    .list-document{
        width: 90%;
        margin: auto;
        min-width: 1245px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}
.flex{
    display: flex;
    align-items: center;
}
.m-b-4{
    margin-bottom: 4px !important;
}