<div class="container-doc w-100 d-flex padding-24">
    <div class="flex-1">
        <div class="d-flex mb-4">
            <div class="title flex-1">{{ document?.FileName }}</div>
            <dx-button stylingMode="contained" text="Tải xuống" type="normal" [width]="120" (onClick)="showUpload()">
            </dx-button>
        </div>
        <div class="w-100">
            <iframe class="w-100 content-doc" src="../../../assets/images/demo.pdf#toolbar=0"></iframe>
            <div class="comment-container m-t-50">
                <div class="imput-comment d-flex align-items-centerm-b-32">
                    <ngx-avatar name="Hải Dương" size="50" class="m-r-16"></ngx-avatar>
                    <input class="search-input big-input" type="text" placeholder="Nhập bình luận">
                </div>
                <div class="comment m-t-32">
                    <div class="list-comment d-flex align-items-center m-b-20">
                        <ngx-avatar name="John Doe" size="50"></ngx-avatar>
                        <div class="item-comment m-l-16">
                            <div class="d-flex align-items-center"><b>Trần Hải Dương</b>&nbsp;&nbsp;<span
                                    class="text-gray">Cách đây 10 phút</span></div>
                            <div>Nội dung bình luận</div>
                        </div>
                    </div>
                    <div class="list-comment d-flex align-items-center m-b-20">
                        <ngx-avatar name="John Doe" size="50"></ngx-avatar>
                        <div class="item-comment m-l-16">
                            <div class="d-flex align-items-center"><b>Trần Hải Dương</b>&nbsp;&nbsp;<span
                                    class="text-gray">Cách đây 10 phút</span></div>
                            <div>Nội dung bình luận</div>
                        </div>
                    </div>
                    <div class="list-comment d-flex align-items-center m-b-20">
                        <ngx-avatar name="John Doe" size="50"></ngx-avatar>
                        <div class="item-comment m-l-16">
                            <div class="d-flex align-items-center"><b>Trần Hải Dương</b>&nbsp;&nbsp;<span
                                    class="text-gray">Cách đây 10 phút</span></div>
                            <div>Nội dung bình luận</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-document mb-4 m-l-16">
        <div class="title">
            CÁC TÀI LIỆU LIÊN QUAN
        </div>
        <ng-container *ngFor="let item of documents">
            <app-doc-info [document]="item"></app-doc-info>
        </ng-container>
    </div>
</div>